*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  color: #5bc0de;
}

.navbar .jumbotron {
  background-color: transparent;
  padding: 10px;
  margin: 0;
}

.navbar .jumbotron h1{
  font-size: 2em;
  font-weight: bold;
}

.navbar .jumbotron p{
 font-size: 1em; 
}

.navbar .jumbotron h1,p{
  text-align: center;
} 

.black{
  color: black;
}

.container-fluid #googleMap{
  margin-top: 60px;
  height: 400px;
  width: 100%;
}

.navbar .label{
  font-size: 125%;
  margin: 0;
  padding: 0;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.navbar .wrap{
  display: flex;
  align-items: center;
}

.navbar .wrap .col-xs-4{
  width: 50vw;
}

.navbar .col-xs-offset-2{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
}

.btn{
  width: 20vw;
}

.navbar .alert-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}

.navbar .alert-info p{
  margin: 0;
  font-size: 20px;
}